Constant do not change

In python use all upper case to variables that we do not intend to change

In [ ]:
KEEP_SAME: int = 60

Can use underscore to seperate the thousands

In [ ]:
thousands: int = 3_600

Do no need the type int but is good practice and will be using modules later that require it. So get accustome to it

Create a variable for string or number, since as practice you shouldn't really place the number in there. Since you might to change it later, and the value will need to be change in all instances and not just once in a variable. Causeing more work and inefficiency.

In [ ]:
## not too practical

hours_in_day: int = 24

hours_in_week = hours_in_day * 5

## since we might need to change 5 and if we have 5 in all instances for this calculation we'll have to find and change all of them
## rather do this

hours_in_day: int = 24
days_in_week: int = 5

hours_in_week = hours_in_day * days_in_week

print(hours_in_week)

use one / to return as float but two // to return as int

In [ ]:
print(24 / 2)
print(24 // 2)

In [ ]:
import os

my_int: int = 5
my_float: float = 5.5
my_str: str = 'my string'
my_str2: str = f"my string 2"
my_dictionary: dict = {1: 'one', 2: 'twp'}
my_tuple: tuple = (1, 2, 3, 4) #immuatable cannot be modifies
my_list: list = [1, 2, 3, 4]
my_list.append(5) #can add onto list


3 + 4
4 - 2
6 / 3
6 % 3